<% @events.each do |event| %>
  <tr> 
    <td> <%= event.number %> </td>
    <td> <%= event.gender %>  </td>
    <td> <%= event.age %> </td>
    <td> <%= event.race_type.display_name %> </td>
  </tr>
<% end %> 
