<!-- Header and Nav -->

  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
           Mr. Meet Manager
          </a>
        </h1>
      </li>
      <li class="toggle-nav"><a href="#"></a></li>
    </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><a href="#">New Meet</a></li>
      </ul>
    </section>
  </nav>


  <!-- End Header and Nav -->
